<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs402.project3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_attach_money_black_36dp"
        android:label="  SAGE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateBillActivity" />
        <activity android:name=".ListOfBillsActivity" />
        <activity android:name=".CalendarViewActivity" />
        <activity android:name=".EditBillActivity" />
        <activity android:name=".ProjectionsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SalaryActivity" />
        <activity android:name=".HourlyActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".SatisticsActivity" />
        <activity android:name=".StatisticsActivity"></activity>
    </application>

</manifest>